<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Your Voice Your Choice Online Portol</title>
	<link rel="shortcut icon" type="image/x-icon" href="../images/YVYC-logo-2017.jpg" />
	<link rel="alternate" type="application/rss+xml" title="egrappler.com" href="feed/index.html">
	<link href="https://fonts.googleapis.com/css?family=Raleway:700,300" rel="stylesheet" type="text/css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
	 crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	 crossorigin="anonymous"></script>
	<script src="bower_components/jquery/dist/jquery.slim.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	 crossorigin="anonymous"></script>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/prettify.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js"></script>
	<link href="bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
	<script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
	<script src="app.js" type="text/javascript"></script>
	<script src="js/loginController.js" type="text/javascript"></script>
	<script src="js/mapController.js" type="text/javascript"></script>
	<script src="js/proposalDetailController.js" type="text/javascript"></script>
	<script src="js/ballotController.js" type="text/javascript"></script>
	<script src="js/registerController.js" type="text/javascript"></script>
	<script src="js/profileController.js" type="text/javascript"></script>
	<script src="js/draftmgtController.js" type="text/javascript"></script>
	<script src="js/usermgtController.js" type="text/javascript"></script>
	<script src="js/finalmgtController.js" type="text/javascript"></script>
	<script src="js/phasemgtController.js" type="text/javascript"></script>

	<link rel="stylesheet" href="https://js.arcgis.com/4.7/esri/css/main.css">
	<script src="https://js.arcgis.com/4.7/"></script>
	<script src="../js/arcgis.js" type="text/javascript"></script>
</head>

<body ng-app="catApp">
	<nav class="navbar navbar-expand-lg navbar-dark" style="background: #10B0E7;" id="mainNav" ng-controller="mainController">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" href="#home">
				<h1>Seattle Neighborhood</h1>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
			 aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#home">Home</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="#login">Login</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="#register">Register</a>
					</li>
					<li class="nav-item active" ng-if="username">
						<a class="nav-link" href="#profile/{{userId}}">Profile</a>
					</li>
					<li class="nav-item active" ng-show="username">
						<a class="nav-link" href="#" ng-click="signout()">
							<p>Hi, Sign out</p>
						</a>
					</li>
					<li class="nav-item dropdown active" ng-show="role=='admin'">
						<a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
						 aria-expanded="false">
							Admin
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#usermgt">User Management</a>
							<a class="dropdown-item" href="#draftmgt">Draft Proposal Management</a>
							<a class="dropdown-item" href="#finalmgt">Final Proposal Management</a>
							<a class="dropdown-item" href="#phasemgt">Phase Management</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<header style="background: #10B0E7; padding-bottom:20px" ng-controller="mainController">
		<img src="../images/YVYC-logo-2017.jpg" style="max-height:300px" class="rounded">
		<div class="col-lg-8 mx-auto">
			<button type="button" class="btn btn-primary" style="background-color: #F26522;" ng-show="message" ng-click="scrollTo('anchor')">{{message}}</button>
		</div>
	</header>

	<div ng-view id="anchor"></div>

	<footer class="py-5" style="background: #10B0E7; margin-top:50px">
		<div class="container">
			<p class="m-0 text-center text-white"> &copy; 2018 Bulubulu 
				<a class="m-0 text-center text-white" href="http://www.uw.edu/">University of Washington</a></p>
			<small class="m-0 text-center text-white">Icons made by
				<a class="m-0 text-center text-white" href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from
				<a  class="m-0 text-center text-white"href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
				<a  class="m-0 text-center text-white"href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0</a>
			</small>
		</div>
	</footer>
	<script src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/prettify/prettify.js"></script>
	<script src="js/layout.js"></script>
	<script src="js/jquery.localscroll-1.2.7.js" type="text/javascript"></script>
	<script src="js/jquery.scrollTo-1.4.3.1.js" type="text/javascript"></script>

</body>

</html>