<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" ng-click="scrollTo('draft')">Draft Proposal</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" ng-click="scrollTo('user')">User</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" ng-click="scrollTo('proposal')">Proposal</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" ng-click="scrollTo('phase')">Phase</a>
            </li>
        </ul>
    </nav>

    <h3 id="draft">I.Draft Proposal Management</h3>
    <a href="http://bulubulu.ischool.uw.edu:4000/draft/export" class="badge badge-primary" download="draft.xlsx">
        Export Drafts to Excel...
        <i class="fa fa-download"></i>
    </a>
    <div class="row">

        <table class="table table-bordered table-hover table-condensed">
            <tr style="font-weight: bold">
                <td style="width:10%">Number</td>
                <td style="width:40%">Title</td>
                <td style="width:20%">Location</td>
                <td style="width:20%">Idea</td>
                <td style="width:20%">Longitude</td>
                <td style="width:20%">Latitude</td>
            </tr>
            <tr ng-repeat="draft in allDraft">
                <td>
                    <h5>
                        {{ draft.draft_id}}
                    </h5>
                </td>
                <td>
                    <h5 editable-text="draft.proposal_title" e-name="proposal_title" e-form="rowform" onbeforesave="check($data)">
                        {{draft.proposal_title}}
                    </h5>
                </td>
                <td>
                    <h5 editable-text="draft.project_location" e-name="project_location" e-form="rowform" onbeforesave="check($data)">
                        {{draft.project_location}}
                    </h5>
                </td>
                <td>
                    <h5 editable-text="draft.proposal_latitude" e-name="proposal_latitude" e-form="rowform" onbeforesave="check($data)">
                        {{draft.proposal_latitude}}
                    </h5>
                </td>
                <td>
                    <h5 editable-text="draft.proposal_longitude" e-name="proposal_longitude" e-form="rowform" onbeforesave="check($data)">
                        {{draft.proposal_longitude}}
                    </h5>
                </td>
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="rowform" onbeforesave="saveDraft($data, draft.draft_id)" ng-show="rowform.$visible" class="form-buttons form-inline"
                        shown="inserted == draft">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button type="button" class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                        <button type="button" class="btn btn-danger" ng-click="removeDraft(draft.draft_id)">del</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <h3 id="user">II. User Management</h3>
    <div class="row" ng-show="allUser">

        <table class="table table-bordered table-hover table-condensed">
            <tr style="font-weight: bold">
                <td style="width:25%">ID</td>
                <td style="width:25%">username</td>
                <td style="width:25%">Email</td>
                <td style="width:25%">Phone</td>
                <td style="width:25%">Edit</td>
            </tr>
            <tr ng-repeat="user in allUser">
                <td>
                    <span>
                        {{ user.user_system_id}}
                    </span>
                </td>
                <td>
                    <!-- editable username (text with validation) -->
                    <span editable-text="user.account_name" e-name="username" e-form="rowform" onbeforesave="check($data)">
                        {{ user.account_name}}
                    </span>
                </td>
                <td>
                    <!-- editable username (text with validation) -->
                    <span editable-text="user.user_email" e-name="email" e-form="rowform" onbeforesave="check($data)">
                        {{ user.user_email}}
                    </span>
                </td>
                <td>
                    <!-- editable username (text with validation) -->
                    <span editable-text="user.user_phone_number" e-name="phone" e-form="rowform" onbeforesave="check($data)">
                        {{ user.user_phone_number}}
                    </span>
                </td>
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="rowform" onbeforesave="saveUser($data, user.user_system_id)" ng-show="rowform.$visible" class="form-buttons form-inline"
                        shown="inserted == user">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button type="button" class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                        <button type="button" class="btn btn-danger" ng-click="removeUser(user.user_system_id)">del</button>
                    </div>
                </td>
            </tr>
        </table>
        <button type="button" class="btn btn-warning" ng-click="addUser()">Add User</button>
    </div>

    <h3 id="proposal">III. Proposal Management</h3>
    <div class="row">
        <div class="collapse" id="collapseOne">
            <div class="col-12" ng-model="proposal">
                {{proposal.idea}}
            </div>
        </div>
    </div>


    <div class="row">
        <table class="table table-bordered table-hover table-condensed">
            <tr style="font-weight: bold">
                <td style="width:15%">No</td>
                <td style="width:35%">Title</td>
                <td style="width:25%">Location</td>
                <td style="width:25%">Edit</td>
            </tr>
            <tr ng-repeat="final in all_finals">
                <td>
                    <!-- editable username (text with validation) -->
                    <span editable-text="final.no" e-name="no" e-form="rowform" onbeforesave="checkName($data, final.no)">
                        {{ final.no || 'empty' }}
                    </span>
                </td>
                <td>
                    <!-- editable status (select-local) -->
                    <span editable-select="final.title" e-name="title" e-form="rowform" onbeforesave="checkName($data, final.title)">
                        {{ final.title || "empty" }}
                    </span>
                </td>
                <td>
                    <span editable-select="final.location" e-name="location" onbeforesave="checkName($data, final.location)" e-form="rowform">
                        {{ final.location || "empty" }}
                    </span>
                </td>
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="rowform" onbeforesave="saveUser($data, final.no)" ng-show="rowform.$visible" class="form-buttons form-inline"
                        shown="inserted == final">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button type="button" class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                        <button type="button" class="btn btn-danger" ng-click="removeUser($index)">del</button>
                        <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#collapseOne" ng-click="showPro(final)">toggle</button>
                        <button type="button" class="btn btn-warning" ng-click="showPro(null)">collapse</button>
                    </div>
                </td>
            </tr>

        </table>

        <h4>Import Excel as Final Proposal</h4>

        <div class="input-group mb-3 d-flex align-items-start">
            <input type="file" id="uploadInput" name="uploadInput" multiple>
            <button type="button" class="btn btn-danger" ng-click="upload()">Upload</button>
        </div>
    </div>


    <h3 id="phase">IV. Phase Management</h3>
    <div class="row">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Current Phase</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" ng-model="phase">
                <option value="1" ng-selected="phase==1">Draft Proposal</option>
                <option value="2" ng-selected="phase==2">Grade Proposal</option>
                <option value="3" ng-selected="phase==3">Vote</option>
                <option value="4" ng-selected="phase==4">Display</option>
            </select>
        </div>

        <button type="button" class="btn btn-danger">Change Phase</button>
    </div>

</div>