<div class="container">

    <h2 id="proposal">Final Proposal Management</h2>
    <div class="row justify-content-between">
        <a href="http://bulubulu.ischool.uw.edu:4000/final/export" class="col-sm-4" download="final_proposals.xlsx">
            Export Final Proposals to Excel...
            <i class="fa fa-download"></i>
        </a>
        <div class="col-sm-4 input-group" style="width:40%; min-width:40%">
            <input type="text" class="form-control" ng-model="keyword" placeholder="" aria-label="" aria-describedby="basic-addon2" ng-change="timeout()">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" ng-click="search()">Search</button>
            </div>
        </div>
    </div>
    <div style="overflow-y:scroll; height:800px; margin-top: 10px;">
        <table class="table table-bordered table-hover table-condensed">
            <tr style="font-weight: bold">
                <td style="width:15%">ID</td>
                <td style="width:35%">Title</td>
                <td style="width:25%">Location</td>
                <td style="width:25%">Edit</td>
            </tr>
            <tr ng-repeat="final in allFinal">
                <td>
                    <p editable-text="final.proposal_id" e-name="id" e-form="rowform">
                        {{ final.proposal_id || 'empty' }}
                    </p>
                </td>
                <td>
                    <p editable-select="final.final_proposal_title" e-name="title" e-form="rowform">
                        {{ final.final_proposal_title || "empty" }}
                    </p>
                </td>
                <td>
                    <p editable-select="final.final_project_location" e-name="location" e-form="rowform">
                        {{ final.final_project_location || "empty" }}
                    </p>
                </td>
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="rowform" onbeforesave="saveUser($data, final.no)" ng-show="rowform.$visible" class="form-buttons form-inline"
                        shown="inserted == final">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button type="button" class="btn btn-primary" ng-click="open(final.proposal_id)">
                            <i class="fa fa-external-link-square-alt"></i>
                            edit</button>
                        <button type="button" class="btn btn-danger" ng-click="removeFinal(final.proposal_id)">del</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>


    <h4 style="margin-top:20px">Import Excel as Final Proposal</h4>
    <div class="justify-content-md-center">
        <form id="frmUploader" enctype="multipart/form-data" action="http://bulubulu.ischool.uw.edu:4000/final/import" method="post">
            <input type="file" name="excelUploader" multiple />
            <input type="submit" name="submit" id="btnSubmit" value="Upload" />
        </form>
    </div>
</div>

<script src="Scripts/jquery-3.1.1.min.js"></script>
<script src="Scripts/jquery.form.min.js"></script>
<script>
    $(document).ready(function () {
        var options = {
            beforeSubmit: showRequest,  // pre-submit callback
            success: showResponse  // post-submit callback
        };

        // bind to the form's submit event
        $('#frmUploader').submit(function () {
            $(this).ajaxSubmit(options);
            // always return false to prevent standard browser submit and page navigation
            return false;
        });
    });

    // pre-submit callback
    function showRequest(formData, jqForm, options) {
        alert('Uploading is starting.');
        return true;
    }

    // post-submit callback
    function showResponse(responseText, statusText, xhr, $form) {
        alert('status: ' + statusText + '\n\nresponseText: \n' + responseText);
    }
</script>