<div class="container">
	<div class="row">
		<div id="map" class="col-sm-12">
			This is {{message}}
			<p>Username:
				<label style="font-weight: bold;">{{ username }}</label>
			</p>

			<div class="row col-sm-5">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true" ng-click="showProposalListTab()">Proposals</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="profile-tab" data-toggle="tab" role="tab" aria-controls="profile" aria-selected="false" ng-click="showNewProposalTab()" ng-if="phase==1">New Proposal</a>
					</li>
				</ul>
			</div>

			<div class="row col-sm-5" ng-show="!showNewProposal" style="overflow-y:scroll;" ng-if="phase==1">
				<div class="card" ng-repeat="pro in proposals">
					<div class="card-body">
						<h4 class="card-title">{{pro.proposal_title}}</h5>
							<h5 class="card-subtitle mb-2 text-muted">ID: {{pro.draft_id}}</h6>
								<h5 >Idea: {{pro.proposal_idea}}</h5>
								<h5 >Location: {{pro.project_location}}</h5>
					</div>
				</div>
			</div>

			<div class="row col-sm-5" ng-show="!showNewProposal" style="overflow-y:scroll;" ng-if="phase!=1">
				<div class="card" ng-repeat="pro in proposals">
					<div class="card-body">
						<h4 class="card-title">{{pro.final_proposal_title}}</h4>
						<h5 class="card-subtitle mb-2 text-muted">ID: {{pro.proposal_id}}</h5>
						<h5>Idea: {{pro.final_proposal_idea}}</h5>
						<h5>Location: {{pro.final_project_location}} </h5>
						<h5>Need: {{pro.proposal_need}} </h5>
						<h5>Neighborhood: {{pro.neihborhood}}</h5>
						<h5>Dist: {{pro.council_district}} </h5>
						<h5>Dept: {{pro.department}} </h5>
						<h5>Benefits: {{pro.who_benefits}} </h5>
						<h5>Cost: {{pro.cost}} </h5>
						<h5>Type: {{pro.project_type}}</h5>
						<button class="btn btn-primary btn-sm" ng-if="phase==3" ng-click="vote(pro.proposal_id)">Vote</a>
						<button  class="btn btn-primary btn-sm" ng-if="phase==2" ng-click="grade(pro.proposal_id)">Grade</a>
					</div>
				</div>
			</div>

			<div class="row col-sm-5" ng-show="showNewProposal">

				<form name="newProposalForm" ng-submit="submitForm(newProposalForm.$valid)" novalidate>
					<div class="form-group" ng-class="{ 'has-error' :newProposalForm.title.$invalid && !newProposalForm.title.$pristine}">
						<label for="title">Title*</label>
						<input ng-model="newProposal.title" type="text" name="title" class="form-control" id="title" placeholder="Title" ng-minlength="1"
						 required>
						<p ng-show="newProposalForm.title.$invalid && !newProposalForm.title.$pristine" class="help-block">Title is required.</p>
					</div>

					<div class="form-group" ng-class="{ 'has-error' :newProposalForm.location.$invalid && !newProposalForm.location.$pristine}">
						<label for="location">Location*</label>
						<input ng-model="newProposal.location" type="text" name="location" class="form-control" id="title" placeholder="location"
						 ng-minlength="1" required>
						<p ng-show="newProposalForm.location.$invalid && !newProposalForm.location.$pristine" class="help-block">Location is required.</p>
					</div>

					<div class="form-group" ng-class="{ 'has-error' :newProposalForm.idea.$invalid && !newProposalForm.idea.$pristine}">
						<label for="idea">Idea</label>
						<textarea style="height:200px;" ng-model="newProposal.idea" name="idea" placeholder="a few sentences describing what the project involves"
						 class="form-control" id="idea" ng-minlength="1" required></textarea>
						<p ng-show="newProposalForm.idea.$invalid && !newProposalForm.idea.$pristine" class="help-block">Idea is required.</p>
					</div>

					<div class="form-group">
						<label for="need">Why is the project needed?</label>
						<input ng-model="newProposal.need" type="text" class="form-control" id="need" placeholder="Why is the project needed?">
					</div>
					<div class="form-group">
						<label for="benefit">Who does the project benefit?</label>
						<input ng-model="newProposal.benefit" type="text" class="form-control" id="benefit" placeholder="Who does the project benefit?">
					</div>
					<button type="submit" class="btn btn-danger" ng-disabled="!newProposalForm.$valid">Submit</button>
				</form>

			</div>
		</div>

	</div>
</div>