<div class="container">
	<div class="row">
		<div id="map" class="col-sm-12">
			This is {{message}}
			<p>Username:
				<label style="font-weight: bold;">{{ username }}</label>
			</p>

			<div class="row col-sm-5">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true" ng-click="showProposalListTab()">Proposals</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="profile-tab" data-toggle="tab" role="tab" aria-controls="profile" aria-selected="false" ng-click="showNewProposalTab()">New Proposal</a>
					</li>
				</ul>
			</div>

			<div class="row col-sm-5" ng-show="!showNewProposal" style="overflow-y:scroll;">
				<div class="card" ng-repeat="pro in proposals">
					<div class="card-body">
						<h4 class="card-title">{{pro.title}}</h5>
							<h5 class="card-subtitle mb-2 text-muted">{{pro.no}}</h6>
								<h6 class="card-body">{{pro.need}}</h6>
								<a href="#" class="card-link" data-toggle="modal" data-target="#exampleModalCenter">Vote</a>
								<a href="#" class="card-link" data-toggle="modal" data-target="#exampleModalCenter">Grade</a>
					</div>
				</div>
			</div>

			<div class="row col-sm-5" ng-show="showNewProposal">

				<form name="newProposalForm" ng-submit="submitForm(newProposalForm.$valid)" novalidate>
					<div class="form-group" ng-class="{ 'has-error' :newProposalForm.title.$invalid && !newProposalForm.title.$pristine}">
						<label for="title">Title*</label>
						<input ng-model="newProposal.title" type="text" name="title" class="form-control" id="title" placeholder="Title" ng-minlength="1"
						    required>
						<p ng-show="newProposalForm.title.$invalid && !newProposalForm.title.$pristine" class="help-block">Title is required.</p>
					</div>

					<div class="form-group" ng-class="{ 'has-error' :newProposalForm.location.$invalid && !newProposalForm.location.$pristine}">
						<label for="location">Location*</label>
						<input ng-model="newProposal.location" type="text" name="location" class="form-control" id="title" placeholder="location"
						    ng-minlength="1" required>
						<p ng-show="newProposalForm.location.$invalid && !newProposalForm.location.$pristine" class="help-block">Location is required.</p>
					</div>

					<div class="form-group" ng-class="{ 'has-error' :newProposalForm.idea.$invalid && !newProposalForm.idea.$pristine}">
						<label for="idea">Idea</label>
						<textarea style="height:200px;" ng-model="newProposal.idea" name="idea" placeholder="a few sentences describing what the project involves"
						    class="form-control" id="idea" ng-minlength="1" required></textarea>
						<p ng-show="newProposalForm.idea.$invalid && !newProposalForm.idea.$pristine" class="help-block">Idea is required.</p>
					</div>

					<div class="form-group">
						<label for="need">Why is the project needed?</label>
						<input ng-model="newProposal.need" type="text" class="form-control" id="need" placeholder="Why is the project needed?">
					</div>
					<div class="form-group">
						<label for="benefit">Who does the project benefit?</label>
						<input ng-model="newProposal.benefit" type="text" class="form-control" id="benefit" placeholder="Who does the project benefit?">
					</div>
					<button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter" ng-disabled="!newProposalForm.$valid">Submit</button>
				</form>

			</div>
		</div>

	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Changes Saved!</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Thank you!
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>