<div class="container">
    <div class="row justify-content-md-center">
        <button class="btn btn-primary" ng-click="edit()">Edit</button>
    </div>
    <div class="row col-sm justify-content-md-center">
        <form name="editProposalForm" ng-submit="submitForm(editProposalForm.$valid)" novalidate>

            <div class="form-group">
                <label for="id">ID</label>
                <p name="id">{{proposal.proposal_id}}</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' :editProposalForm.title.$invalid && !editProposalForm.title.$pristine}">
                <label for="title">Title*</label>
                <input ng-model="proposal.final_proposal_title" type="text" name="title" class="form-control" id="title" placeholder="{{proposal.final_proposal_title}}"
                    ng-disabled="!editable" ng-minlength="1" required>
                <p ng-show="editProposalForm.title.$invalid && !editProposalForm.title.$pristine" class="help-block">Title is required.</p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' :editProposalForm.location.$invalid && !editProposalForm.location.$pristine}">
                <label for="location">Location*</label>
                <input ng-model="proposal.final_project_location" type="text" name="location" class="form-control" id="location" placeholder="{{proposal.final_project_location}}"
                    ng-disabled="!editable" ng-minlength="1" required>
                <p ng-show="editProposalForm.location.$invalid && !editProposalForm.location.$pristine" class="help-block">Location is required.</p>
            </div>

            <div class="row">
                <div class="col">
                    <label for="latitude">Latitude*</label>
                    <input type="text" ng-model="proposal.final_proposal_latitude" class="form-control" name="latitude" placeholder="{{proposal.final_proposal_latitude}}"
                        ng-disabled="!editable">
                </div>
                <div class="col">
                    <label for="latitude">Longitude*</label>
                    <input type="text" ng-model="proposal.final_proposal_longitude" class="form-control" name="longitude" placeholder="{{proposal.final_proposal_longitude}}"
                        ng-disabled="!editable">
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' :editProposalForm.idea.$invalid && !editProposalForm.idea.$pristine}">
                <label for="idea">Idea</label>
                <textarea style="height:200px;" ng-model="proposal.final_proposal_idea" name="idea" placeholder="proposal.final_proposal_idea"
                    class="form-control" id="idea" ng-minlength="1" ng-disabled="!editable" required></textarea>
                <p ng-show="editProposalForm.idea.$invalid && !editProposalForm.idea.$pristine" class="help-block">Idea is required.</p>
            </div>

            <div class="form-group">
                <label for="neighborhood">Neighborhood</label>
                <input ng-model="proposal.neihborhood" type="text" name="neighborhood" class="form-control" id="neighborhood" placeholder="{{proposal.neihborhood}}"
                    ng-disabled="!editable">
            </div>

            <div class="form-group">
                <label for="type">Type</label>
                <input ng-model="proposal.project_type" type="text" name="type" class="form-control" id="type" placeholder="{{proposal.project_type}}"
                    ng-disabled="!editable">
            </div>

            <div class="form-group">
                <label for="need">Need</label>
                <input ng-model="proposal.proposal_need" type="text" name="need" class="form-control" id="need" placeholder="{{proposal.proposal_need}}"
                    ng-disabled="!editable">
            </div>
            <div class="form-group">
                <label for="benefit">Benefit</label>
                <input ng-model="proposal.who_benefits" type="text" class="form-control" name="benefit" placeholder="{{proposal.who_benefits}}"
                    ng-disabled="!editable">
            </div>
            <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter" ng-disabled="!editProposalForm.$valid">Submit</button>
        </form>
    </div>

</div>